:root {
  --color: #39A900;
  --isActiveColor: #000000;
}

.card {
  width: 130px;
  height: 160px;
  text-align: center;
  margin: 60px 20px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid var(--color);
  /* background-color: var(--color); */
}

.activoinactivo {
  width: auto;
  height: 20px;
  margin: -2px 0 0 -110px;
  border: 2px solid var(--color);
  background-color: white;
  font-size: 14px;
  color: var(--color);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.h2Style {
  margin-top: 10px;
  font-size: 13px;
  color: rgb(255, 255, 255);
  color: black;
}

.menuStyle {
  font-size: 19px;
  font-weight: bold;
  color: black;
}

.menuItemsStyle {
  margin-right: 10px;
  font-size: 10px;
  font-weight: normal;
  color: black;
  padding: 1px;
  border-radius: 5px;
  border: 2px solid var(--color);
  background-color: white;
}
.title {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: var(--color);
    text-shadow: 1px 1px 1px var(--color);
    margin: -20px 0;
    text-align: center;
    
  }
  
  .survey-list {
    display: flex;
  }
  